.hero-section {
    height: 60vh;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: monospace;
    width: 100%;
    position: relative;
    z-index: -10;
}

.typer-wrapper {
    color:white;
    position: absolute;
    top:12rem;
}

.section h2{
    color:white;
    font-size: 2rem;
    font-weight: 200;
    margin:0.5rem 1rem;
}
.services-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding:1rem;
}