.socials{
    background-color: white;
    border-radius: 20px;
    padding:4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:black;
    width:370px;
    margin:1rem auto;
    font-family: "Space mono",sans-serif;
    font-size: 12px;
}
.social-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
}